{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registros</title>
    <link rel="stylesheet" href="{% static '/main.css' %}" type="text/css" />
  </head>
  <body>
    <form id="form">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" />
      <label for="carnet">Carnet</label>
      <input type="text" name="carnet" id="carnet" />
      <button type="submit">Enviar</button>
    </form>
    <script src="{% static '/app.js' %}" type="text/javascript"></script>
  </body>
</html>
